@using PTS.Helpers
@model PTS.Models.PaymentModel

@{
    ViewBag.Title = "Payment";
}

<hgroup class="demo-panel-title">
    <h4>@ViewBag.Title:</h4>
    <h6 style="margin-left:20px;">Payment Info.</h6>
</hgroup>

<style>
    .ui-datepicker-calendar{
        display:none;    
    }

    .ui-datepicker{
        width: 237px;   
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post)) {
    @Html.HiddenFor(model => model.Payment.Id)
    @Html.HiddenFor(model => model.Payment.StudentId)
    @Html.HiddenFor(model => model.Payment.TeacherId) 
    @Html.HiddenFor(model => model.Payment.ClassId) 
    @Html.ValidationSummary(true)
    
    <div class="container" style="margin-top:80px;margin-left: 40px;">
    </div>
    <div class="row">
        <div class="col-md-3">
            <p><span class="label">Card type</span></p>
            <select name="herolist" value="@Model.Payment.Description" class="select-block" style="display: none;">
                <option value="1">American Express</option>
                <option value="2">Discover</option>
                <option value="3">Master Card</option>
                <option value="Visa" selected="selected">Visa</option>
            </select>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <p><span class="label">Card number</span></p>
                @Html.PasswordFor(model => model.Payment.CreditCardNumber, new { @class="form-control" })
            </div>          
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <p><span class="label">Expiration date</span></p>
                @Html.TextBox("expDate","", new { @class="form-control", @id="expDate"})
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <p><span class="label">Security code</span></p>
                <input type="text" value="" class="form-control" style="width: 100px">
            </div>
        </div>
    </div>
    <br/>
    <form id="Userlocation">
        <div class="row">
            <h4 style="margin-left:20px;">Billing Address</h4>
            <div class="col-md-3">
                <div class="form-group">
                    <p><span class="label">Address</span></p>
                    @Html.PasswordFor(model => model.Location.Address, new { @class="form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <p><span class="label">Country</span></p>
                    @Html.PasswordFor(model => model.Location.Country, new { @class="form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <p><span class="label">State</span></p>
                    @Html.PasswordFor(model => model.Location.State, new { @class="form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <p><span class="label">City</span></p>
                    @Html.PasswordFor(model => model.Location.City, new { @class="form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <p><span class="label">Zip</span></p>
                    @Html.PasswordFor(model => model.Location.ZipCode, new { @class="form-control" })
                </div>
            </div>
        </div>
    </form>
    
    <div class="row">
        <h6>Total: @Model.Payment.Money</h6>
        <button id="formSubmit" class="btn btn-primary">Process</button>
    </div>
    
}

<script src="~/Content/Flat-UI/js/flatui-checkbox.js"></script>
<script src="~/Content/Flat-UI/js/bootstrap-select.js"></script>
<script src="~/Content/Flat-UI/js/bootstrap-switch.js"></script>
<script src="~/Content/Flat-UI/js/bootstrap.min.js"></script>
<script src="~/Content/Flat-UI/js/application.js"></script>
<script type="text/javascript">
    $('#expDate').datepicker({
        inline: true,
        changeMonth: true,
        changeYear: true,
        changeDay: false,
        showButtonPanel: true,
        dateFormat: 'MM yy',
        onClose: function(dateText, inst) { 
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).datepicker('setDate', new Date(year, month, 1));
        }
    });
    
</script>