@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h3>@ViewBag.Title.</h3>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <div style="margin-top: 60px;"
        <iframe width="540" height="310" src="http://www.wideo.co/embed/750981382581793448?height=282&width=500" frameborder="0" allowfullscreen ></iframe>
    </div>
        <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>