@model PTS.Models.LocalPasswordModel

@{
    ViewBag.Title = "Reset Password";
}

<hgroup class="title">
    <h3>@ViewBag.Title</h3>
    <br />
</hgroup>

<style>
    .social
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .img
    {
        display: block;
        margin-left: 50px;
    }
</style>

    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset style="margin-left: 75px; margin-top: 20px; margin-bottom: 20px; background-color: #ecf0f1; border-radius: 10px; margin-left: 20px; margin-bottom: 20px; padding-left: 40px; padding-bottom: 20px;">
            <legend>Change Password</legend>
            <ol>
                <li>
                    <p>@Html.LabelFor(m => m.OldPassword, "Old password")</p>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", style = "width:250px" })
                </li>
                <li>
                    <p>@Html.LabelFor(m => m.NewPassword, "New password")</p>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", style = "width:250px" })
                </li>
                <li>
                    <p>@Html.LabelFor(m => m.ConfirmPassword, "Confirm password")</p>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", style = "width:250px" })
                </li>
            </ol>
            <button class="btn btn-primary btn-hg" type="submit">Sumbit</button>
        </fieldset>
        <br />
    }


