@using Core.Domains;
@model Core.Domains.User

@{
    ViewBag.Title = "Display Sessions";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Tutor Sessions</h4>
<div id="SessionsDisplayTable"></div>
<script type="text/javascript">

    $(document).ready(function () {

        var toolbarItems = [{
            text: "Approve",
            click: function () {
                // Edit daily operation   
                // Get selected row
                var selectedRow = $('#SessionsDisplayTable').jtable('selectedRows').data('record');
                // Edit daily operation   
                if (!selectedRow) {
                    $.ajax({
                        url: '@Url.Action("ApproveRequest", "Account")',
                        data: {
                            requestId: selectedRow.Id
                        },
                        success: function () {
                            $('#SessionsDisplayTable').jtable('load');
                        }
                    });
                }
            },
            cssClass: "editProcess"
        }];

        $('#SessionsDisplayTable').jtable({
            title: 'Tutor Contracts',
            openChildAsAccordion: true,
            selecting: true,
            toolbar: {
                items: toolbarItems
            },
            ajaxSettings: {
                contentType: 'application/json'
            },
            actions: {
                listAction: '@Url.Action("GetSessions")',
            },
            fields: {
                Id: {
                    key: true,
                    list: false,
                    create: false,
                    edit: false,
                },
                FirstName: {
                    title: 'First Name'  
                },
                LastName: {
                    title: 'Last Name'
                },
                Email: {
                    title: 'Email',
                },
                Rate: {
                    title: 'Rate',
                },
                Status: {
                    title: 'Approval Status',
                    //display: function (rowdata) {
                    //    return '<button id="cellApprove" type="button" class="btn btn-primary" onclick="refreshTable(data.record.Id); return false;">' + rowdata.record.Status + '</button>';
                        //return '<button title="' + data.record.Status + '" class="jtable-command-button jtable-edit-command-button" onclick="refreshTable(data.record.Id); return false;"><span>' + data.record.Status + '</span></button>';
                        //var row = data.record;
                        //var result = data.record.Status;
                        //console.log(data.record.Status);
                        //console.log(data.record.Id);
                        //if (data.record.Role == UserRole.Teacher) {
                        //    result = '<button title="'+ result +'" class="jtable-command-button jtable-edit-command-button" onclick="refreshTable(data.record.Id); return false;"><span>'+data.record.Status+'</span></button>';
                        //}
                        //return result;
                        
                    //}
                },
                Availability: {
                    title: 'Session Info',
                    sorting: false,
                    display: function (data) {
                        console.log(data + "data ehre");
                        var link = $('<a>Session Info</a>');
                        link.click(function () {
                            $('#SessionsDisplayTable').jtable('openChildTable',
                                link.closest('tr'),
                                {
                                    title: 'Session for ' + data.record.FirstName + " " + data.record.LastName,
                                    actions: {
                                        listAction: '@Url.Action("GetSchedule")',
                                    },
                                    fields: {
                                        Sunday: {
                                            title: 'Sunday',
                                        },
                                        Monday: {
                                            title: 'Monday'
                                        },
                                        Tuesday: {
                                            title: 'Tuesday'
                                        },
                                        Wednesday: {
                                            title: 'Wednesday'
                                        },
                                        Thursday: {
                                            title: 'Thursday'
                                        },
                                        Friday: {
                                            title: 'Friday'
                                        },
                                        Saturday: {
                                            title: 'Saturday'
                                        },

                                    }
                                }, function (innerData) {
                                    innerData.childTable.jtable('load', {
                                        tutorUserId: data.record.Id
                                    });
                                });
                        });
                        return link;
                    }
                },
            },
            selectionChanged: function () {
                //Get all selected rows
                var selectedRow = $('#SessionsDisplayTable').jtable('selectedRows').data('record');
                if (selectedRow) {
                    console.log("HERE " + selectedRow.Status);
                    if (selectedRow.Status == "Pending" && "@PTS.Infrastructure.SessionDataHelper.UserRole" == "@UserRole.Teacher") {
                        $(".editProcess").show();
                    }
                } else {
                    $(".editProcess").hide();
                }
            }
        });
        $('#SessionsDisplayTable').jtable('load');

        $(".editProcess").hide();
    })
</script>