@model PTS.Models.LoginModel

@{
    ViewBag.Title = "Reset Password";
}

<hgroup class="title">
    <h3>@ViewBag.Title</h3>
    <br />
</hgroup>

<style>
    .social
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .img
    {
        display: block;
        margin-left: 50px;
    }
</style>

<div id="loginForm">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset style="margin-left: 75px; margin-top: 20px; margin-bottom: 20px; background-color: #ecf0f1; border-radius: 10px; margin-left: 20px; margin-bottom: 20px; padding-left: 40px; padding-bottom: 20px;">
            <legend>Log in Form</legend>
            <ol>
                <li>
                    <p>@Html.LabelFor(m => m.UserName)</p>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
            </ol>
            <button class="btn btn-primary btn-hg" type="submit">Reset</button>
        </fieldset>
        <br />
        <p>
            @Html.ActionLink("Register", "Register") if you don't have an account.
        </p>
    }

    </div>
    <div class="social" id="socialLoginForm" style="margin-top: 60px;">
        <img src="~/Images/writing.jpg" alt="school supplies" />
    </div>

<script>
</script>
