@model PTS.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<style>
    .social {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .img {
        display: block;
        margin-left: 50px;
    }

</style>
<div id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <button class="btn btn-primary">Log-in</button>
    </fieldset>
    <br/>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</div>

<div class="social" id="socialLoginForm">
    <li class="img"><img src="~/Images/writing.jpg" alt="school supplies"/></li>
    @*@Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
