@model PTS.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h3>@ViewBag.Title</h3>
    <br />
</hgroup>

<style>
    .social {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .img {
        display: block;
        margin-left: 50px;
    }

</style>
<div id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset style="margin-left: 75px; margin-top:20px; margin-bottom: 20px; background-color:#ecf0f1; border-radius: 10px; margin-left: 20px; margin-bottom: 20px; padding-left: 40px; padding-bottom:20px;">
        <legend>Log in Form</legend>
        <ol>
            <li>
                <p>@Html.LabelFor(m => m.UserName)</p>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                <p>@Html.LabelFor(m => m.Password)</p>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                <div class="row">
                    <div class="col-md-2">
                        <div class="switch switch-square has-switch" data-off-label="<i class='fui-cross'></i>" data-on-label="<i class='fui-check'></i>">
                            <div class="switch-off switch-animate">
                                <input type="checkbox">
                                <span class="switch-left">
                                    <i class="fui-check"></i>
                                </span>
                                <label></label>
                                <span class="switch-right">
                                    <i class="fui-cross"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    @*@Html.CheckBoxFor(m => m.RememberMe, new { @class = "" })*@
                    <div class="col-md-4">
                        <p>@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })</p>
                    </div>
                </div>
            </li>
        </ol>
        <button class="btn btn-primary btn-hg">Log-in</button>
    </fieldset>
    <br/>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</div>

<div class="social" id="socialLoginForm">
    <li class="img"><img src="~/Images/writing.jpg" alt="school supplies"/></li>
    @*@Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })*@
</div>
<script src="~/Content/Flat-UI/js/flatui-switch.js"></script>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

<script>
    $(document).ready(function () {

    });
</script>