@model PTS.Models.AccountUser


@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h2>My Account</h2>
    </header>
    <p>
        <span class="label">First Name:</span>
        @Model.FirstName
    </p>
    <p>
        <span class="label">Last Name:</span>
        <span>@Model.LastName</span>
    </p>
    <p>
        <span class="label">E-Mail:</span>
        <span>@Model.Email</span>
    </p>
    <p>
        <span class="label">PassWord:</span>
        <span>@Model.PassWord</span>
    </p>
    <p>
        <span class="label">Address:</span>
        <span>@Model.Location.Address @Model.Location.City , @Model.Location.ZipCode @Model.Location.Country</span>
    </p>
    <button class="btn-primary">Edit User Info</button>
</section>

<section class="contact">
    <header>
        <h2>Student</h2>
        
        
    </header>
    <p>
        <span class="label">Major:</span>
        <span >@Model.Major</span>
    </p>
    <p>
        <span class="label">Education:</span>
        <span>@Model.Education</span>
    </p>
    <button class="btn-primary">Edit Student Info</button>
</section>

<section class="contact">
    <header>
        <h2>Teacher</h2>
    </header>
    <p>
        <span class="label">Hourly Rate:</span>
        <span>@Model.HourlyRate</span>
    </p>
    <p>
        <span class="label">Class Rate:</span>
        <span>@Model.ClassRate</span>
    </p>
    <button class="btn-primary">Edit Teacher Info</button>
</section>