@model Core.Domains.User

@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm(null, null, FormMethod.Post)) {
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.LocationId)
    @Html.ValidationSummary(true)

    <div class="row container form-horizontal">
        <div class=".col-md-4">
            <div class="form-horizontal">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email)
            </div>
        </div>
        <div class=".col-md-4">
            @Html.LabelFor(model => model.PassWord, "Password")
            @Html.PasswordFor(model => model.PassWord)
        </div>
        <div class=".col-md-4">
            @Html.Label("Confrim Password")
            <input type="password" name="confirmPassword" id="confirmPassword"/>
        </div>
        <div class=".col-md-4">
            @Html.LabelFor(model => model.FirstName, "First Name")
            @Html.EditorFor(model => model.FirstName)
        </div>
        <div class=".col-md-4">
            @Html.LabelFor(model => model.LastName, "Last Name")
            @Html.EditorFor(model => model.LastName)
        </div>
        <div class=".col-md-4">
            @Html.LabelFor(model => model.DOB, "Date of Birth")
            @Html.EditorFor(model => model.DOB)
        </div>
        <div class=".col-md-4">
            @Html.LabelFor(model => model.SSN, "Social Security Number")
            @Html.PasswordFor(model => model.SSN)
        </div>
    </div>
    <br/>
    <li class="btn btn-primary">@Html.ActionLink("Next", "RoleSelect", "Account", htmlAttributes: new { style="color:white"})</li>
}

