@using Core.Domains
@model Core.Domains.User

@{
    ViewBag.Title = "Register";
}

<hgroup class="demo-panel-title">
    <h1>@ViewBag.Title:</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm(null, null, FormMethod.Post)) {
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.LocationId)
    @Html.HiddenFor(model => model.Role) 
    @Html.ValidationSummary(true)

    

    
    <div class="container">
        <div class="row">
            <div class=".col-md-4" style="display:inline;">
                <h2>@Html.LabelFor(model => model.Email)</h2>
                @Html.TextBoxFor(model => model.Email, new {@class = "form-control", style="width:400px"})
            </div>
            <div class=".col-md-4">
                <h2>@Html.LabelFor(model => model.PassWord, "Password")</h2>
                @Html.PasswordFor(model => model.PassWord, new {@class = "form-control", style="width:400px"})
            </div>
            <div class=".col-md-4">
                <h2>@Html.Label("Confirm Password")</h2>
                <input type="password" class="form-control" style="width:400px" name="confirmPassword" id="confirmPassword"/>
            </div>
            <div class=".col-md-4">
                <h2>@Html.LabelFor(model => model.FirstName, "First Name")</h2>
                @Html.TextBoxFor(model => model.FirstName, new {@class = "form-control", style="width:400px"})
            </div>
            <div class=".col-md-4">
                <h2>@Html.LabelFor(model => model.LastName, "Last Name")</h2>
                @Html.TextBoxFor(model => model.LastName, new {@class = "form-control", style="width:400px"})
            </div>
            <div class=".col-md-4">
                <h2>@Html.LabelFor(model => model.DOB, "Date of Birth")</h2>
                @Html.TextBoxFor(model => model.DOB, new {@class = "form-control", style="width:400px"})
            </div>
            <div class=".col-md-4">
                <h2>@Html.LabelFor(model => model.SSN, "Social Security Number")</h2>
                @Html.PasswordFor(model => model.SSN, new {@class = "form-control", style="width:400px"})
            </div>
            <br/>
            
        </div>
        <div class="row">
            <hgroup class="title">
                <h1>User Role:</h1>
                <h2>Select all that apply.</h2>
            </hgroup>
            <label class="checkbox unchecked" for="checkbox1">
                <span class="icons">
                    <span class="first-icon fui-checkbox-unchecked">
                    </span>
                    <span class="second-icon fui-checkbox-checked"></span>
                </span>
                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                Student
            </label>
            <br/>
            <div class="studentUser">
                @Html.Partial("_StudentUserForm", new StudentUser())
            </div>
            <br/>
            <label class="checkbox unchecked" for="checkbox2">
                <span class="icons">
                    <span class="first-icon fui-checkbox-unchecked">
                    </span>
                    <span class="second-icon fui-checkbox-checked"></span>
                </span>
                <input type="checkbox" value="" id="checkbox2" data-toggle="checkbox">
                Teacher/Tutor
            </label>
            <br/>
            <div class="teacherUser">
                @Html.Partial("_TeacherUserForm", new TeacherUser())
            </div>
            <br/>
        </div>
        <div class="row">
            <input class="btn btn-primary" type="submit" value="Register" id="formSubmit" style="background-color: #16a085" />
        </div>
     </div>   
    <br/>
}

<script src="~/Content/Flat-UI/js/flatui-checkbox.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#DOB').datepicker({
            changeMonth: true,
            changeYear: true,
            maxDate: '0'
        });
        $(".studentUser").hide();
        $(".teacherUser").hide();
    });
    
    $("#checkbox1").change(function () {
        if ($(this).is(":checked")) {
            $(".studentUser").show();
            $('#Role').val("@UserRole.Student");
        } else {
            $(".studentUser").hide();
        }
    });
    
    $("#checkbox2").change(function () {
        if ($(this).is(":checked")) {
            $(".teacherUser").show();
            $('#Role').val("@UserRole.Teacher");
        } else {
            $(".teacherUser").hide();
        }
    });
</script>