@model PTS.Models.RequestModel
<!DOCTYPE html>
<style>
    div.ui-timepicker-wrapper {
        font-size: 20px;
    }
    date {
        font-size: 40px;
    }
</style>

<form id="paymentForm" Action="@Url.Action("LoadRequestSession")" method="POST">
        <h6>Request a Session</h6>

        @Html.HiddenFor(model => model.Teacher.Id)
        @Html.HiddenFor(model => model.Request.Id)
        @Html.HiddenFor(model => model.Request.TeacherId)
        @Html.HiddenFor(model => model.Request.StudentId)
        @Html.HiddenFor(model => model.Request.Status)


        <h4>@Html.LabelFor(model => model.Teacher.User.FirstName, "First Name")</h4>
       @* @Html.TextBoxFor(model => model.Teacher.User.FirstName, new { @class = "form-control", style = "width:400px" })*@
        <h6 style="margin-left: 40px; background: #ecf0f1; width: 600px; height: 60px; border-radius:10px; padding: 15px;">@Model.Teacher.User.FirstName</h6>

        <h4>@Html.LabelFor(model => model.Teacher.User.LastName, "Last Name")</h4>
        <h6 style="margin-left: 40px; background: #ecf0f1; width: 600px; height: 60px; border-radius:10px; padding: 15px;">@Model.Teacher.User.LastName</h6>

        <h4>@Html.LabelFor(model => model.Teacher.User.Email)</h4>
        <h6 style="margin-left: 40px; background: #ecf0f1; width: 600px; height: 60px; border-radius:10px; padding: 15px;">@Model.Teacher.User.Email</h6>
        <br/>

        <h6>Select days you wish to be tutored</h6>

        <p>
        </p>
        <div class="row demo-samples">
            <div class="col-md-4">
                <div class="todo" style="width: 1000px;">
                    <ul>
                        <li class="">
                            @Html.TextBoxFor(model => model.Request.Monday, new { @class="weekday hidden"})
                            <div class="todo-icon fui-new"></div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                                    Monday
                                </h4>
                                <div class="row" id="monday">
                                    <div class="col-md-2">
                                        @Html.TextBox("monFrom", "",new { @class="form-control date", @style="width: 140px;" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(model => model.Teacher.Schedule.MonStartTime,new { @class="form-control time ui-timepicker-input", @style="width: 140px;", @readonly="readonly"})
                                    </div>
                                    <div class="col-md-1">
                                        <p><span class="label">To</span></p>
                                    </div>
                                    <div class="col-md-2" id="monFrom">
                                        @Html.TextBoxFor(model => model.Teacher.Schedule.MonEndTime,new { @class="form-control time ui-timepicker-input", @style="width: 140px;", @readonly="readonly" })
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            @Html.TextBoxFor(model => model.Request.Tuesday, new { @class="weekday hidden"})
                            <div class="todo-icon fui-new"></div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                                    Tuesday
                                </h4>
                                <div class="row" id="tuesday">
                                    <div class="col-md-2">
                                        @Html.TextBox("tuesFrom", "",new { @class="form-control date", @style="width: 140px;" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(model => model.Teacher.Schedule.TuesStartTime,new { @class="form-control time ui-timepicker-input", @style="width: 140px;", @readonly="readonly" })
                                    </div>
                                    <div class="col-md-1">
                                        <p><span class="label">To</span></p>
                                    </div>
                                    <div class="col-md-2" id="tuesFrom">
                                        @Html.TextBoxFor(model => model.Teacher.Schedule.TuesEndTime,new { @class="form-control time ui-timepicker-input", @style="width: 140px;", @readonly="readonly" })
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            @Html.TextBoxFor(model => model.Request.Wednesday, new { @class="weekday hidden"})
                            <div class="todo-icon fui-new"></div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                                    Wednesday
                                </h4>
                                <div class="row" id="wednesday">
                                    <div class="col-md-2">
                                        @Html.TextBox("wedFrom", "",new { @class="form-control date", @style="width: 140px;" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(model => model.Teacher.Schedule.WedStartTime,new { @class="form-control time ui-timepicker-input", @style="width: 140px;", @readonly="readonly" })
                                    </div>
                                    <div class="col-md-1">
                                        <p><span class="label">To</span></p>
                                    </div>
                                    <div class="col-md-2" id="wedFrom">
                                        @Html.TextBoxFor(model => model.Teacher.Schedule.WedEndTime,new { @class="form-control time ui-timepicker-input", @style="width: 140px;", @readonly="readonly" })
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            @Html.TextBoxFor(model => model.Request.Thursday, new { @class="weekday hidden"})
                            <div class="todo-icon fui-new"></div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                                    Thursday
                                </h4>
                                <div class="row" id="thursday">
                                    <div class="col-md-2">
                                        @Html.TextBox("thursFrom", "",new { @class="form-control date", @style="width: 140px;" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(model => model.Teacher.Schedule.ThursStartTime,new { @class="form-control time ui-timepicker-input", @style="width: 140px;", @readonly="readonly" })
                                    </div>
                                    <div class="col-md-1">
                                        <p><span class="label">To</span></p>
                                    </div>
                                    <div class="col-md-2" id="thursFrom">
                                        @Html.TextBoxFor(model => model.Teacher.Schedule.ThursEndTime,new { @class="form-control time ui-timepicker-input", @style="width: 140px;", @readonly="readonly" })
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            @Html.TextBoxFor(model => model.Request.Friday, new { @class="weekday hidden"})
                            <div class="todo-icon fui-new"></div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                                    Friday
                                </h4>
                                <div class="row" id="friday">
                                    <div class="col-md-2">
                                        @Html.TextBox("friFrom", "",new { @class="form-control date", @style="width: 140px;" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(model => model.Teacher.Schedule.FriStartTime,new { @class="form-control time ui-timepicker-input", @style="width: 140px;", @readonly="readonly" })
                                    </div>
                                    <div class="col-md-1">
                                        <p><span class="label">To</span></p>
                                    </div>
                                    <div class="col-md-2" id="friFrom">
                                        @Html.TextBoxFor(model => model.Teacher.Schedule.FriEndTime,new { @class="form-control time ui-timepicker-input", @style="width: 140px;", @readonly="readonly" })
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            @Html.TextBoxFor(model => model.Request.Saturday, new { @class="weekday hidden"})
                            <div class="todo-icon fui-new"></div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                                    Saturday
                                </h4>
                                <div class="row" id="saturday">
                                    <div class="col-md-2">
                                        @Html.TextBox("satFrom", "",new { @class="form-control date", @style="width: 140px;" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(model => model.Teacher.Schedule.SatStartTime,new { @class="form-control time ui-timepicker-input", @style="width: 140px;", @readonly="readonly" })
                                    </div>
                                    <div class="col-md-1">
                                        <p><span class="label">To</span></p>
                                    </div>
                                    <div class="col-md-2" id="satFrom">
                                        @Html.TextBoxFor(model => model.Teacher.Schedule.SatEndTime,new { @class="form-control time ui-timepicker-input", @style="width: 140px;", @readonly="readonly" })
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            @Html.TextBoxFor(model => model.Request.Sunday, new { @class="weekday hidden"})
                            <div class="todo-icon fui-new"></div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                                    Sunday
                                </h4>
                                <div class="row" id="sunday">
                                    <div class="col-md-2">
                                        @Html.TextBox("sunFrom", "",new { @class="form-control date", @style="width: 140px;" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(model => model.Teacher.Schedule.SunStartTime,new { @class="form-control time ui-timepicker-input", @style="width: 140px;", @readonly="readonly" })
                                    </div>
                                    <div class="col-md-1">
                                        <p><span class="label">To</span></p>
                                    </div>
                                    <div class="col-md-2" id="sunFrom">
                                        @Html.TextBoxFor(model => model.Teacher.Schedule.SunEndTime,new { @class="form-control time ui-timepicker-input", @style="width: 140px;", @readonly="readonly" })
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> <!-- /todo list -->
        </div>
    <button id="formSubmit" type="submit" class="btn btn-primary">Send request</button> *Note: payment will only be processed once tutor has accepted the contract.
</form>


<script src="~/Content/Flat-UI/js/jquery.stacktable.js"></script>
<script src="~/Content/jquery-timepicker-master/jquery.timepicker.js"></script>
<script src="~/Content/jquery-timepicker-master/jquery.timepicker.min.js"></script>
<link rel="stylesheet" media="screen" href="~/Content/jquery-timepicker-master/jquery.timepicker.css" type="text/css" />
<script type="text/javascript">
    $(document).ready(function () {
        $(".ui-timepicker-input").timepicker();
        $(".date").datepicker();
        //$("#monday").hide();
        //$("#tuesday").hide();
        //$("#wednesday").hide();
        //$("#thursday").hide();
        //$("#friday").hide();
        //$("#saturday").hide();
        //$("#sunday").hide();
    });
    
    $(".todo li").click(function () {
        if (!$(".ui-timepicker-input").is(':focus') && !$(".date").is(':focus')) {
            $(this).toggleClass("todo-done");
            $(this).find('.todo-content div').toggleClass("show");
            if ($(this).is('.todo-done')) {
                $(this).find('.weekday').val(true);
            } else {
                $(this).find('.weekday').val(false);
            }
        }
    });
    
    //$("#monday").on("click", function() {
    //    $("#mon").show();
    //});
</script>