@using PTS.Infrastructure

@model Core.Domains.User



<h2 style="margin-left:20px;">@(Model.FirstName) @(Model.LastName)'s Map</h2>
<br />
<div id="googleMap" style="width: 850px; height: 600px; margin-left: 95px; border-radius:10px;"></div>

<script>
    var mapsCenter = new google.maps.LatLng('@(Model.Location.Latitude)', '@(Model.Location.Longitude)');
    $(document).ready(function () {
        google.maps.event.addDomListener(window, 'load', initialize);
    });
    function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();
               
        var mapProp = {
            center: mapsCenter,
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        var marker = new google.maps.Marker({
            position: mapsCenter,
            map: map,
            title: '@(Model.FirstName)' + " " + '@(Model.LastName)'
        });

        marker.setMap(map);
    }

    function calcRoute() {
        var start = new google.maps.LatLng('@(SessionDataHelper.Latitude)', '@(SessionDataHelper.Longitude)');
        var end = mapsCenter;
        var request = {
            origin: start,
            destination: end,
            travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function (result, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(result);
            }
        });
    }

</script>