<!DOCTYPE html>



<html lang="en">
    @*<div id="successMessage" class="success message" hidden="hidden">
		 <h3>Congrats, you did it!</h3>
		 <p>And Ronnie is still going to lose this week.</p>
        </div>*@
    <head>
        
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Personal Tutoring Service</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        
        <link href="~/Content/Flat-UI/bootstrap/css/bootstrap.css" rel="stylesheet" />

        <link href="~/Content/Flat-UI/css/flat-ui.css" rel="stylesheet" />
        <link href="~/Scripts/jtable/themes/jqueryui/jtable_jqueryui.css" rel="stylesheet" />
        
        <meta name="viewport" content="width=device-width" />

        
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        <script src="~/Scripts/jtable/jquery.jtable.js"></script>
    </head> 
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Personal Tutoring Service", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <div class="navbar navbar-inverse">
                        <div class="navbar-header">
                            <button class="btn btn-navbar" data-target=".navbar-collapse-01" data-toggle="collapse" type="button"></button>
                        </div>
                        <div class="navbar-collapse collapse navbar-collapse-01">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li>@Html.ActionLink("Search Tutors", "Index", "Search")</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Personal Tutoring Service</p>
                </div>
            </div>
        </footer>


        

        
        @RenderSection("scripts", required: false)
    </body>
</html>


<script>

</script>