<!DOCTYPE html>



<html lang="en">
    @*<div id="successMessage" class="success message" hidden="hidden">
		 <h3>Congrats, you did it!</h3>
		 <p>And Ronnie is still going to lose this week.</p>
        </div>*@
    <head>
        
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Prospect Tutoring</title>
        
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        
        <link href="~/Content/Flat-UI/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/Flat-UI/css/flat-ui.css" rel="stylesheet" />

        <link href="~/Scripts/jtable/themes/jqueryui/jtable_jqueryui.css" rel="stylesheet" />
        <link href="~/Scripts/jtable/themes/metro/lightgray/jtable.css" rel="stylesheet" />
        <link href="~/Content/responsiveslides.css" rel="stylesheet" />

        <meta name="viewport" content="width=device-width" />
                
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        <script src="~/Scripts/jtable/jquery.jtable.js"></script>
        <script src="~/Scripts/responsiveslides.js"></script>
        <script src="~/Scripts/tinynav.js"></script>
    </head> 
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <img src="~/Images/logo.png" style="width: 350px; height: 125px;"/>
                    @*<p class="site-title">@Html.ActionLink("Prospect Tutoring", "Index", "Home")</p>*@
                    @*<p style="color: #34495e; font-family: Rockwell, Consolas; font-size:2.5em;"><i>Expand Your Horizons</i></p>*@
                </div>
                <div class="float-right">
                   <section id="login" class="clearfix">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <div class="navbar navbar-inverse">
                        <div id="menu_wrapper" class="navbar-collapse collapse navbar-collapse-01">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("My Account", "ManageAccount", "Account")
                                    <ul>
                                        <li>
                                            @Html.ActionLink("Review Class", "Index", "Review")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Review Tutor", "ReviewTutor", "Review")
                                        </li>
                                     </ul>
                                </li>
                                <li>@Html.ActionLink("Search", "Index", "Search")</li>
                            </ul>
                        </div>
                    </div>
                     
                </div>
                
            </div>
        </header>
        <div style="height:15px; position:absolute; left:0;right:0; margin-top:110px; background-color:#1abc9c"></div>
        <div id="body">
            
            @RenderSection("featured", required: false)
            <div class="content-wrapper main-content clear-fix">
                @RenderBody()
            </div>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Personal Tutoring Service</p>
                </div>
            </div>
        </footer>


        

        
        @RenderSection("scripts", required: false)
    </body>
</html>


<script>
    $(document).ready(function () {
        var url = window.location;
        // Will only work if string in href matches with location
        $('ul.nav a[href="' + url + '"]').parent().addClass('active');

        // Will also work for relative and absolute hrefs
        $('ul.nav a').filter(function () {
            return this.href == url;
        }).parent().addClass('active');
    });

</script>
