<!DOCTYPE html>



<html lang="en">
    @*<div id="successMessage" class="success message" hidden="hidden">
		 <h3>Congrats, you did it!</h3>
		 <p>And Ronnie is still going to lose this week.</p>
        </div>*@
    <head>
        
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Personal Tutoring Service</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        
        <link href="~/Content/Flat-UI/bootstrap/css/bootstrap.css" rel="stylesheet" />

        <link href="~/Content/Flat-UI/css/flat-ui.css" rel="stylesheet" />

        <meta name="viewport" content="width=device-width" />

        <script src="~/Scripts/jquery-1.8.2.js"></script>


        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head> 
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Personal Tutoring Service", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("SearchTutors", "SearchTutors", "Search")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>


        

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
