@model Core.Domains.StudentUser

@{
    Layout = null;
}

<style>

</style>

<form id="studentUserForm" method="post">
    @Html.HiddenFor(model => model.Id)

    <p>@Html.LabelFor(model => model.Major, "Major")</p>
    @Html.TextBoxFor(model => model.Major, new {@class = "form-control", style="width:400px"})

    <br />

    <p>@Html.LabelFor(model => model.Education, "Education")</p>
    @Html.TextBoxFor(model => model.Education, new {@class = "form-control", style="width:400px"})
</form>