@model Core.Domains.StudentUser

@{
    Layout = null;
}

<style>

</style>

<form id="studentUserForm" method="post">
    @Html.HiddenFor(model => model.Id)

    <h2>@Html.LabelFor(model => model.Major, "Major")</h2>
    @Html.TextBoxFor(model => model.Major, new {@class = "form-control", style="width:400px"})

    <br />

    <h2>@Html.LabelFor(model => model.Education, "Education")</h2>
    @Html.TextBoxFor(model => model.Education, new {@class = "form-control", style="width:400px"})
</form>