@model Core.Domains.TeacherUser

@{
    Layout = null;
}

<form id="teacherUserForm" method="post">
    @Html.HiddenFor(model => model.Id)

    <p>@Html.LabelFor(model => model.HourlyRate, "Hourly Rate")</p>
    @Html.TextBoxFor(model => model.HourlyRate, new {@class = "form-control", style="width:400px"})

    <br />

    <p>@Html.LabelFor(model => model.ClassRate, "Class Rate")</p>
    @Html.TextBoxFor(model => model.ClassRate, new {@class = "form-control", style="width:400px"})
</form>