@model Core.Domains.TeacherUser

@{
    Layout = null;
}

<form id="teacherUserForm" method="post">
    @Html.HiddenFor(model => model.Id)

    <h2>@Html.LabelFor(model => model.HourlyRate, "Hourly Rate")</h2>
    @Html.TextBoxFor(model => model.HourlyRate, new {@class = "form-control", style="width:400px"})

    <br />

    <h2>@Html.LabelFor(model => model.ClassRate, "Class Rate")</h2>
    @Html.TextBoxFor(model => model.ClassRate, new {@class = "form-control", style="width:400px"})
</form>